footer
  nav.breadcrumb.is-centered
    ul 
      li
        a(href="/life") Life
      li
        a(href="/code") Code
      li
        a(href="/work") Work
      li
        a(href="/blog") Blog
  .content.has-text-centered
    img(src="/images/mountains.png")
    .is-size-7 &copy; David Sewell 2025 (#{ page.url })
script(src="/scripts/default.js")
