-
  const pageTitle = (pageKey && pages[pageKey].title) || title
  const fullTitle = pageTitle ? `${pageTitle} - Dave Sewell` : `Dave Sewell`
doctype html
html(lang="en")
  head
    title #{fullTitle}
    include /head.pug
  body
    include /header.pug
    section.section
      .container.block !{content}
    include /footer.pug
