doctype html
html(lang="en")
  head
    title #{ post.title } - Dave Sewell
    include /head.pug
  body
    include /header.pug
    section.section
      .container.block !{content}
    include /footer.pug
