---
layout: layouts/default.pug
title: Code
---
.box 
  h3.is-size-3 Code
  p.block My life has been deeply involved in code since I was still young. I cut my first programs with my dad using BASIC. I recall writing an Arkanoid clone. I brought it to my computer programming class and the teacher would not believe it was my own program.
  p.block As much as I loved numbering every line of code, I moved on. I used Visual Basic for a few years, learning how to write programs with skinnable interfaces. I wrote a skinnable browser, a command line utility, and a memory game release under the falseidle desktop enhancement name.
  p.block At the same time I started writing some business logic with my dad where he worked. We mainly used dbase and foxpro to write reports and keep track of inventory.
  p.block I was hooked, so off to university I went. I studied Computer Science at Carleton. I spent the first couple years learning Java and C. I didn't write much on my own time though, instead choosing to put all my effort into my assignments. I also was part of the co-op program. My first co-op was at the Admissions department of Carleton. It was here I got my first real taste of web development and never really looked back since then. I wrote some Perl and a lot of PHP to for intranet application as well as their public web site. My second co-op was at Nav Canada where I learned a lot about SQL and databases there. My third co-op was where I learned JavaScript and dynamic web pages developing a product called ReportNet for what was then called Cognos. My final co-op was at Mxi. I eventually came back and worked there full time.
  p.block Since I started working life, I have tried to start a few open source software projects. Some got more attention than others. One of the originals I still use myself is called flophase, which is a cash flow and budgeting application. The first iteration was a Swing application, the second used Google's App Engine.
