---
layout: layouts/default.pug
title: Life
---
.box 
  h3.is-size-3 Life
  p.block I was born in Fernie, BC. I lived there (technically Hosmer) for six years and learned to ski at a very young age. I attended Isabella Dicken Elementary School for kindergarten and grade one. My mom worked as a dietitian at Fernie District Hospital, where I was born. My father worked at the Westar coal mine near Sparwood as a computer programmer. When the mine closed, my family and I moved to Calgary, AB for a short period. Next I moved to Brooks, AB, which is east of Calgary along the Trans-Canada Highway. After a year in Brooks, I moved to Georgetown, ON where I lived until I moved away to university in September 2001.
  p.block I lived in Ottawa, ON enrolled at Carleton University working on completing a Bachelor of Computer Science for five years. I moved back to Calgary after graduation to come back to the mountains. My stay in Calgary was short-lived, and I ended up back in Ottawa after only four months.
  p.block While working in Ottawa, I moved around a couple times, met my wife Jen, even lived in Gatineau, QC for a couple years. I've travelled to Mexico, Cuba, the Dominican Republic, Jamaica, Italy and Greece.
  p.block I have three great kids who keep me busy and never cease to amaze me. These days I live with them and my wife in the village of Carp, just outside of Ottawa.
