---
layout: layouts/default.pug
title: Work
---
.box 
  h3.is-size-3 Work
  p.block 
    | In fall of 2019 I was given the challenge of building out an implementation of Hashicorp Enterprise Vault.
    | I had worked with Vault before as an SRE and so this was an opportunity to improve the reliability and 
    | maintainability of our Vault servers including cross DC replication and fully Terraformed configuration.
    | After that I transitioned to development on our authentication and authorization platforms and helped 
    | realize a major transformation using Auth0 for authentication and a custom authorization engine to allow 
    | a transition to our new web platform.
  p.block 
    | In April of 2017 I wanted a new challenge for myself and joined the SRE team at SurveyMonkey. I helped the 
    | engineering team onboard their applications to run on a new, in-house application platform. This gave me 
    | confidence in working with others outside my team and in my ability to learn new skills outside of my 
    | comfort zone.
  p.block 
    | Near the end of 2015 I started working at SurveyMonkey on the App Platform team building Python applications. 
    | The majority of my work was with an email platform that allows other systems in the company to send emails to
    | customers and survey recipients.
  p.block In July, 2014 I started as a full stack developer at Nivaha. I worked with a small team in a startup environment building a Ruby on Rails application for managing field service data. Working at Nivaha has made me more well-rounded, and improved my skills in areas I would have never imagined like sales and marketing.
  p.block Until July, 2014 I worked as developer in the Engineering Support team at Mxi Technologies. I learned a great deal about the aviation domain during those years. Over the years my role expanded to include design and architecture responsibilities in addition to assisting teams developing new features, especially related to front-ends. The tech stack I've been exposed to includes Oracle, several application servers, Java and J2EE, JSPs and Servlets. I've also worked on rich web front ends using jQuery, Knockout, Wijmo and Angular. The build tooling we have used includes Crucible, Jira, Confluence, Anthill, Ant, Gradle, jUnit, OWB, and many others.
  p.block 
    | Check out my 
    a(href="../files/resume_david_sewell.pdf") resume
    |  for more details.
